<script>
var member = <%- JSON.stringify(request.user)%>;
</script>
<form method="get" action="/logout" style="display: none;">
	<fieldset>
		<button type="submit">Sign out</button>
	</fieldset>
</form>
<div id="messagesView" class="centered content view">
	<ol class="discussion">
		<li class="other">
			<div class="avatar">
				<img class="img-circle" data-src="{{from.avatar}}" />
			</div>
			<div class="message">
				<article>{{{text}}}</article>
				<time datetime="{{time}}">{{time}}</time>
			</div>
		</li>
		<% 
			var previous = model.length > 0 ? model[0] : {from: {username: null}};
			var i = 0;
			var message = null;
			while(message = model.shift()){
				if(i === 0){
		%>
		<li class="sent">
			<time datetime="<%= message.w3cFormat(message.time) %>"><%= message.humanFriendlyDate(message.time) %></time>
		</li>
		<li class="<%= message.from.username === request.user.username ? 'self' : 'other'%>">
			<div class="avatar">
				<img class="img-circle" data-src="<%= message.from.avatar %>" src="<%= message.from.avatar %>" />
			</div>
		<%
				}
		%>
			<div class="message" data-count="<%= i%>">
				<article><%= message.text %></article>
				<time datetime="<%= message.w3cFormat(message.time) %>" class="today"><%= message.humanFriendlyDate(message.time) %></time>
			</div>
		<%
				i++;
				if(previous.from.username !== message.from.username){
					i = 0;
		%>
		</li>
		<%
				}
				previous = message;
			}
		%>
	</ol>
</div>
<div id="rosterView" class="right nav view" style="display: none;">
	<ul>
		<li>
			<img data-src="{{avatar}}" />
			<label>{{username}}</label>
		</li>
	</ul>
</div>
<footer id="comment" class="comment">
	<form>
		<fieldset>
			<legend></legend>
			<textarea name="message"></textarea>
			<button type="submit">Send</button>
		</fieldset>
	</form>
</footer>
