<form role="form" data-rel="<%= model._id ? 'edit' : 'add'%>-item" method="post" action="<%= request.url %>">
	<fieldset>
		<% if(model._id){%>
			<input type="hidden" name="_method" value="put" />
			<input type="hidden" name="_id" id="_id" value="<%= model._id %>" />
		<%}%>
		<div class="form-group">
			<input class="form-control" type="text" name="name" placeholder="Name" value="<%= model.name %>" />
		</div>
		<div class="form-group">
			<input class="form-control" type="text" name="username" placeholder="User Name" value="<%= model.username %>" />
		</div>
		<div class="form-group avatar">
			<img class="img-circle" id="model.avatar" src="<%= model.avatar %>" />
			<% if(model._id){%>
			<input type="file" id="newAvatar" name="newAvatar" />
			<%}%>
		</div>
		<div class="form-group">
			<img id="model.background" src="<%= model.background %>" width="100px" />
			<input type="file" id="newBackground" name="newBackground" />
		</div>
		<div class="form-group">
			<textarea class="form-control" rows="5" placeholder="Page" name="page"><%- model.page %></textarea>
		</div>
	</fieldset>
	<button class="btn btn-default" type="submit">Save</button>
</form>
